/* Estilo general para la página */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  /* Contenedor principal */
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;
    background-image: url('/src/app/assets/fondo.jpg'); /* Ruta relativa */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Títulos */
  h2, h3, h4 {
    color: #2c3e50;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }
  
  /* Estilo para los inputs y botones */
  input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }

  input{
    display: block; 
    margin: 0 auto;
    width: 80%; 
    max-width: 400px;
    padding: 10px;
  }
  
  input[type="text"], input[type="date"] {
    box-sizing: border-box;
  }
  
  button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Estilo para las listas y elementos de la interfaz */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 8px;
    background-color: #ecf0f1;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  li:hover {
    background-color: #bdc3c7;
  }
  
  /* Sección de clima actual */
  .weather-info, .forecast-info, .historical-info {
    margin-top: 20px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .weather-info p, .forecast-info p, .historical-info p {
    margin: 5px 0;
  }
  
  /* Estilo para los mensajes de error */
  .error {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
  }
  