/* Estilo general para la página */

body {
    font-family: 'Arial', sans-serif;
    background-color: #2b649c;
    margin: 0;
    padding: 0;
    background-image: url('/src/assets/fondo.jpg');
  }
  
  /* Contenedor principal */
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.55); /* Fondo blanco con opacidad del 80% */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Títulos */
  h2, h3, h4 {
    color: #2c3e50;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }
  
  /* Estilo para los inputs y botones */
  input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }

  input{
    display: block; 
    margin: 0 auto;
    width: 80%; 
    max-width: 400px;
    padding: 10px;
  }
  
  input[type="text"], input[type="date"] {
    box-sizing: border-box;
  }
  
  button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: rgb(43, 206, 247);
  }
  
  /* Estilo para las listas y elementos de la interfaz */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 8px;
    background-color: #ecf0f1;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  li:hover {
    background-color: #bdc3c7;
  }
  
  /* Sección de clima actual */
  .weather-info, .forecast-info, .historical-info {
    margin-top: 20px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.historical-info{
  background-color: rgba(255, 255, 255, -1); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .weather-info p, .forecast-info p, .historical-info p {
    margin: 5px 0;
  }
  
  /* Estilo para los mensajes de error */
  .error {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
  }
  
  .close-btn {
    background-color: #00706b; /* Color de fondo */
    color: white;
    border: none;
    width: 30px; /* Ancho fijo para hacerlo más cuadrado */
    height: 30px; /* Altura fija para hacerlo cuadrado */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 10px; /* Fuente más pequeña */
    display: flex; /* Usamos flexbox para centrar el texto */
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    margin-bottom: 5px; /* Menos margen */
  }
  
  .close-btn:hover {
    background-color: #01312f; /* Rojo más oscuro */
  }
  


  .forecast-info {
    margin-top: 20px;
  }
  
  .forecast-container {
    display: flex;
    justify-content: space-around; /* Espacio entre las cajas */
    gap: 20px; /* Espacio entre las cajas */
    flex-wrap: wrap; /* Permite que las cajas se ajusten en pantallas pequeñas */
  }
  
  .forecast-box {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 15px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 18%; /* Ancho de cada caja */
    min-width: 250px; /* Ancho mínimo para evitar que las cajas sean demasiado pequeñas */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espacio debajo de las cajas */
  }
  
  .forecast-box h4 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .forecast-box p {
    margin: 5px 0;
    color: #555;
  }
  