<div>
    <h3>Detalles del Clima</h3>
  
    <!-- Datos del clima actual -->
    <p>Temperatura Actual: {{ weatherDetails?.current.temp_c }} °C</p>
    <p>Condición: {{ weatherDetails?.current.condition.text }}</p>
    <p>Humedad: {{ weatherDetails?.current.humidity }}%</p>
    <p>Viento: {{ weatherDetails?.current.wind_kph }} km/h</p>
  
    <!-- Si hay datos históricos disponibles, mostrar esta sección -->
    <div *ngIf="historicalData">
      <h4>Datos Históricos ({{ selectedDate }})</h4>
      <p>Temperatura: {{ historicalData.temperature }} °C</p>
      <p>Condición: {{ historicalData.condition }}</p>
      <p>Humedad: {{ historicalData.humidity }}%</p>
      <p>Viento: {{ historicalData.wind }} km/h</p>
    </div>
  </div>
  