/* Estilo para todo el cuerpo de la página */
body {
    background-image: url('../src/assets/fondo.png'); /* Cambia el color de fondo aquí */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }